
@{
    ViewData["Title"] = "Import Freight BOI";
    Layout = "~/Layout/_Layout_Menu.cshtml";
}
<div>
    <h3 style="text-align: center; margin-top: 20px;">IMPORT FRIEGHT BOI</h3>
    <br />
    <br />
    <div class="row">
            <div class="col-md-1">
                D/N
            </div>
            <div class="col-md-3">
                <p> <input type="number" class="form-control" /></p>
            </div>
            <div class="col-md-4">
                <p>YEAR MONTH <input type="date" class="form-control" /></p>
            </div>
            <div class="col-md-4">
                <p>FORWARDER <select class="form-control"><option value="0"> -- select forwarder</option></select></p>
            </div>
            @*<div class="col-md-2">
                <p>INVOICE <input type="text" class="form-control" /></p>
            </div>
            <div class="col-md-2">
                <p>RENT DAY <input type="text" class="form-control" /></p>
            </div>
            <div class="col-md-2">*@

        </div>

    </div> <br />

    <div class="row">

        <div class="col-md-2">
            <p>TRANSPORT <select class="form-control"><option value="0"> -- select transport</option></select></p>
        </div>
        <div class="col-md-2">
            <p>DELIVERY <select class="form-control"><option value="0"> -- select delivery</option></select></p>
        </div>
        <div class="col-md-2">
            <p>SUPPLIER  <select class="form-control"><option value="0"> -- select supplier</option></select></p>
        </div>
        <div class="col-md-2">
            <p>V/W <input type="number" class="form-control" /></p>
        </div>
        <div class="col-md-2">
            <p>ETA DATE <input type="date" class="form-control" /></p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <p>STORAGE CHANGE <input type="date" class="form-control" /></p>
        </div>
        <div class="col-md-2">
            <p>COUNTRY <select class="form-control"><option value="0"> -- select country</option></select></p>
        </div>
        <div class="col-md-2">
           
        </div>
        <div class="col-md-2">
           
        </div>
        <div class="col-md-2">
           
        </div>
    </div>
</div>


